Package: me.kritanta.notseethrough
Name: NotSeeThrough
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Kritanta
Author: Kritanta
Section: Tweaks
